<section class="home-cont section">
	<div class="slct-inst">
		<div class="mb-30" style="text-align: center;">
			<h1 class="title is-1">University of Toronto Course Reviews</h1>
			<p class="subtitle is-4">Know exactly what you are signing up for.</p>
		</div>
		<div class="">
			<div class="mb-30" style="text-align: center;">
				<h2 class="title is-2">Select Your Campus:</h2>
			</div>
			<div class="campus-options">
				<div class="campus-option" routerLink="/explore/UTM">
					<div class="campus-short">
						<span>UTM</span>
					</div>
					<div class="campus-full title is-4">
						<span>University of Toronto Mississauga</span>
					</div>

				</div>
				<div class="campus-option" routerLink="/explore/UTSC">
					<div class="campus-short">
						<span>UTSC</span>
					</div>
					<div class="campus-full title is-4">
						<span>University of Toronto Scarborough</span>
					</div>
				</div>
				<div class="campus-option" routerLink="/explore/UTSG">

					<div class="campus-short">
						<span>UTSG</span>
					</div>
					<div class="campus-full title is-4">
						<span>University of Toronto St. George</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>