<section class="section">
    <div class="course-cont container">
        <div class="box">
            <h2 class="title is-2"> {{ course?.name }}</h2>
            <h3 class="title is-3"> {{ course?.code }}</h3>
            
            <label class="info-label">Department:</label>
            <span class="">{{ course?.department }}</span>    
            <label class="info-label">Description:</label>
            <span class="">{{ course?.description }}</span>
            <label class="info-label">Pre-requisites:</label>
            <span class="">{{ course?.prerequisite }}</span>
            <label class="info-label">Exclusion:</label>
            <span class="">{{ course?.exclusion }}</span>
        </div>
        <hr>
        <!-- Review Component -->
        <ng-container *ngIf="course">
            <reviews [course]="course"></reviews>
        </ng-container>
    </div>
</section>