<section class="home-cont">
    <div class="slct-inst">
        <h1 class="title is-1">University of Toronto Course</h1>
        <p class="subtitle is-4">Know exactly what you are signing up for.</p>
        <div class="">
            <h2 class="title is-2">Select Your Campus:</h2>
            <!--
            <div class="inst-select-wrapper">
                <div class="inst-select" (click)="triggerOpen()" [ngClass]="{'opened': open}">
                    <span class="inst-select-trigger">{{ selectedUni }}</span>
                    <div class="inst-options">
                        <span class="inst-option" #utm value="U" (click)="selectCampus(utm.value)">University of Toronto Mississauga</span>
                        <span class="inst-option" #utsc (click)="selectCampus(utsc.value)">University of Toronto Scarborough</span>
                        <span class="inst-option" #utsg (click)="selectCampus(utsg.value)">University of Toronto St. George</span>
                    </div>
                </div>
            </div>
            <button class="button is-warning is-medium"> Go </button>
            -->
            <div class="campus-options">
                <div class="campus-option">
                    <div class="">
                        <div class="campus-short">
                            <span>UTM</span>
                        </div>
                        <div class="campus-full">
                            <span>University of Toronto Mississauga</span>
                        </div>
                    </div>
                </div>
                <div class="campus-option">
                    <div>
                        <div class="campus-short">
                            <span>UTSC</span>
                        </div>
                        <div class="campus-full">
                            <span>University of Toronto Scarborough</span>
                        </div>
                    </div>
                </div>
                <div class="campus-option">
                    <div>
                        <div class="campus-short">
                            <span>UTSG</span>
                        </div>
                        <div class="campus-full">
                            <span>University of Toronto St. George</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="feedback-btn">
        <span><i class="fas fa-envelope fa-3x"></i></span>
    </button>
    
</section>