<section class="home-cont">
    <div class="slct-inst">
        <h2 class="title is-2">Select Your Campus:</h2>
        <div class="inst-select-wrapper">
            <div class="inst-select" (click)="triggerOpen()" [ngClass]="{'opened': open}">
                <span class="inst-select-trigger">{{ selectedUni }}</span>
                <div class="inst-options">
                    <span class="inst-option" #utm value="U" (click)="selectCampus(utm.value)">University of Toronto Mississauga</span>
                    <span class="inst-option" #utsc (click)="selectCampus(utsc.value)">University of Toronto Scarborough</span>
                    <span class="inst-option" #utsg (click)="selectCampus(utsg.value)">University of Toronto St. George</span>
                </div>
            </div>
        </div>
        <button> Go </button>
    </div>
    <button class="feedback-btn">
        <span><i class="fas fa-envelope fa-3x"></i></span>
    </button>
</section>