<div>
    <ng-container *ngIf="!userReviewed">
        <add-review [course_id]="course.code"></add-review>
    </ng-container>
    <ng-container *ngIf="reviews && reviews.length else noReview">
        <h1 class="title is-1">Feedbacks</h1>
        <div *ngFor="let review of reviews">
            <review [review]="review"></review>
        </div>
    </ng-container>

    <ng-template #noReview>
        <div class="box">
            <p>No one has left a review yet</p>
        </div>
    </ng-template>
</div>