<div>
    <ng-container *ngIf="!userReviewed">
        <add-review [course_id]="course.code" [course_rating]="course?.ratings"></add-review>
    </ng-container>
    <ng-container *ngIf="reviews && reviews.length else noReview">
        <h2 class="title is-2">Feedbacks</h2>
        <div class="columns">
            <div class="column" *ngFor="let review of reviews">
                <review [review]="review"></review>
            </div>
        </div>
    </ng-container>

    <ng-template #noReview>
        <div class="box">
            <p>No one has left a review yet</p>
        </div>
    </ng-template>
</div>