/* You can add global styles to this file, and also import other style files */

section {
    min-height: 100vh;
}

/* NavBar */
.navbar {
    background-color: #102E4B;
}

.navbar h1 {
    color: white;
}

/* Home Institution */
.feedback-btn {
    background-color: #102E4B;
    border: none;
    border-radius: 50%;
    bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    position: fixed;
    right: 20px;
    text-align: center;
    vertical-align: middle;
}

.feedback-btn .fa-envelope {
    color: white;
}

.home-cont {
    position: relative;
}

.slct-inst {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
