/* You can add global styles to this file, and also import other style files */
body {
  background-color: #efeff3;
  font-family: 'Lato', sans-serif;
}

section {
    min-height: 100vh;
}


label {
  font-weight: 700;
  margin-right: 10px;
}

.select-dept {
  background-color: #5A79A5;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

.select-dept h1 {
  color: white;
}

.select-dept li {
  font-size: 1.2rem;
  cursor: pointer;
}

.select-dept li:hover {
  background-color: #212121;
}

.rating-val {
  background-color: #29aeff;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 2px 8px 3px 8px;
}

.rating-high {
  background-color: green;
}

.rating-med {
  background-color: yellow;
}
.rating-low {
  background-color: red;
}

.section-comment, .section-other {
  display: inline-block;
}

.section-comment {
  margin-left: 20px;
  width: 55%;
  vertical-align: top;
}

.section-other {
  width: 40%;
}

.section-ratings {
  border-bottom: 1px solid #4747474d;
  padding-bottom: 10px;
  width: 100%;
}

.section-ratings div {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.review-btn {
  margin: 10px 0 10px 0;
}

.review-btn .button {
  width: 150px;
}

.add-info {
  padding: 0 1.25rem 0 1.25rem;
}

.add-review-cont {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
}

/****** Review *******/
.section-ratings div label, .section-ratings div span {
  display: inline-block;
}

.section-other, .section-comment {
  padding-bottom: 1.25rem;
}

.section-other {
  padding-right: 1rem;
  border-right: 1px solid #4747474d;
}

/* NavBar */
.navbar {
    background-color: #102E4B !important;
}

.navbar-brand {
  cursor: pointer;
}

.navbar h1 {
    color: white;
}

/* Home Institution */
.feedback {
  bottom: 15px;
  position: fixed;
  right: 20px;
  z-index: 99;
}

.feedback-btn {
    background-color: #102E4B;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.feedback-btn:active {
  transform: scale(0.98);
}

.feedback-cont {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  border: none;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  bottom: 90px;
  right: 15px;
}

.feedback-emote {
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.feedback-emote:first-child {
  margin-left: 0px;
}

.feedback-emote:last-child {
  margin-right: 0px;
}

.feedback-emote fa-icon:hover {
  background-color: #ffe875;
  border-radius: 50px;
}

.feedback-emote fa-icon.active {
  background-color: #ffe875;
  border-radius: 50px;
}

.feedback-btn .fa-envelope {
    color: white;
}

.textarea {
  resize: none !important;
}

.course-cont .info-label {
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

input[type=range] {
  width: 60%;
}

.slct-inst h1 {
  text-align: center;
}

.inst-select-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.inst-select {
    position: relative;
    display: inline-block;
}

.inst-select-trigger {
    position: relative;
    display: block;
    width: 410px;
    padding: 0 84px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 60px;
    background: #5c9cd8;
    border-radius: 4px;
    cursor: pointer;
}

.inst-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.inst-select.opened .inst-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.inst-select.opened .inst-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.inst-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1p rgba(0, 0, 0, 0.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

/*.inst-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}
*/

.inst-option {
    position: relative;
    display: block;
    border-bottom: 1px solid #b5b5b5;
    font-size: 18px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button.is-warning:hover {
    color: white;
}

.campus-full {
    display: inline-block;
    padding-left: 45px;
}

.campus-short {
    display: inline-block;
    color: white;
    font-size: 22px;
    font-weight: 600;
    background-color: #003873;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 50px;
}

.campus-option {
    background: #e0e0e0;
    border: none;
    border-radius: 50px 15px 15px 50px;
    cursor: pointer;
    margin: 0 auto 20px auto;
    transition: all .3s ease-in-out;
    width: 600px;
}

.campus-option:hover {
  transform: scale(1.01);
}

.campus-options {
  padding: 0 25px 0 25px;
}

/* Layout Styles */

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/* Explore Courses */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 80% !important;
  padding: 0px 12px 0px 12px !important;
  width: 100%;
  z-index: 1;
}

.dropdown-menu div {
  border: 1px solid rgba(204, 204, 204);
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  overflow: hidden;
  overflow-y: auto;
  animation: fade 0.2s ease;
}

.dropdown-menu.active {
  display: block !important;
}

.dropdown-menu div li:hover {
  background-color: #dbdbdb;
  border-left: 4px solid #3c4551;
}

.dropdown-menu div li {
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.search-input .button {
  background-color: #29aeff;
  border: 0;
  color: #fff;
  font-size: 1.25rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 6px rgba(57,73,76,0.35);
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.select-cont {
  display: inline-block;
  position: relative;
  color: #474747;
  text-align: left;
}

.select-filt {
  border: 1px solid rgba(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  cursor: pointer;
  padding: 10px;
}

.select-filt::before {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 1em;
  width: 0.75em;
  height: 0.75em;
  border: 0.2em solid #86919a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 275ms;
}

.select-filt::before {
  border-left: none;
  border-top: none;
  right: 1.6em;
  top: 1.6em;
}

.loading {
  margin: 0 auto;
}

.loading div {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 5px;
  transition: 0.5s all ease;
}

.loading div:nth-child(1) {
  animation: rise 0.5s infinite alternate;
  background-color: #4a4a4a;
}

.loading div:nth-child(2) {
  animation: rise 0.5s infinite alternate;
  animation-delay: 0.2s;
  background-color: #4a4a4a;
}

.loading div:nth-child(3) {
  animation: rise 0.5s infinite alternate;
  animation-delay: 0.4s;
  background-color: #4a4a4a;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes enlarge {
  0% { transform:  scale(1);}
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes rise {
  0% { transform:  translateY(4px);}
  100% { transform: translateY(-4px)}
}

.search-cont {
  width: 875px;
  margin: 0 auto;
}

div .sort-crit {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
}

div .sort-crit:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px
}

div .sort-crit:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.search-inputs {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  border: none;
  border-radius: 5px;
  margin-left: -.75rem;
  margin-right: -.75rem;
  padding: 15px;
}

.search-title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.search-res {
  border-collapse: collapse;
  width: 100%;
}

.search-res .header span:not(:last-child) {
  border-right: 1px solid #22272d;
}

.search-res .course:hover {
  cursor: pointer;
  background-color: white;
}

.search-res thead th, .search-res .header {
  background-color: #3c4551;
  border: none;
  color: #fff;
}

.search-res .columns {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.search-res thead th:first-child {
  border-radius: 10px 0 0 0;
}

.search-res thead th:last-child {
  border-radius: 0 10px 0 0;
}

.search-res tbody tr {
  cursor: pointer;
}

.search-res .course {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.course .column {
  padding: 0px !important;
}

.course .ratings {
  text-align: center;
  font-size: 2rem;
}

.course span {
  font-size: 1rem;
}

.loading-cont {
  padding: 20px 0 20px 0;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  